@media only screen and (min-width: 720px){

    .cabecalho-esquerda{
        color: var(--cor1);
    }
    
    .cabecalho-direita{
     color: var(--principal);
    }

    .inicio{
        flex-direction: row;
        gap: 1rem;
    }

    .titulo{
        font-size: 28px;
        font-weight: bolder;
        color:var(--cor1);
        text-align: center;
        padding-top: 100px;
    }
    .titulo2{
        font-size: 28px;
    }

    .nome{
        font-size: 1.8rem;}
    .psicologa{
        font-size: 1.5rem;
    }
    .crp{
        font-size: 1.4rem;
    }

    .frase{
        height:20vh;
    }

    .sobre-descricao p{
        font-size: 1.5rem;
    }
    
    .aspas{
        width: 50px;
        height: 50px;
    }
    
    .texto-frase span{
        color: #fff;
        font-size: 1.5rem;
    }

    #foto-inicio{
        width: 250px;
        height: 250px;
    }

    .fotos-carousel{
        background-color: var(--principal);
    }

    .carousel-item {
        text-align: center;
        margin: 0px;
    }
    
    .carousel-item img {
        max-width: 400px;
        width: 100%;
        margin: 3px auto;
        border-radius: 20px;
    }
    
    #carouselExampleAutoplaying {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Garante que a imagem e botões fiquem dentro da mesma área */
    .carousel-inner {
        position: relative;
        width: 100%;
    }
       
    .contatos{
        display: flex;
        flex-direction: row;
        height: 250px;
    }

    .contato{
        margin-top: 0rem;
        justify-content: baseline;
    }

    .redes{
        justify-content: center;
        width: 33%;
    }

    .locais{
        justify-content: center;
        width: 33%;
    }


    .logocontato{
        width: 33%;
    }

    .whatsapp-link {
        position: fixed;
        width: 220px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: var(--cor1);
        border-radius: 40px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        box-shadow: 1px 1px 2px #888;
        z-index: 1000;
    }

    #link-whatsApp{
        margin-left: 5px;
        display: inline;
    }
    
    .fa-whatsapp {
        margin-top: 16px;
    }

}


@media only screen and (min-width: 1024px){
    .inicio{
        padding-top: 150px;
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .nome{
        font-size: 3rem;}

    .psicologa{
        font-size: 2.2rem;

    }
    
    .crp{
        font-size: 1.7rem;

    }

    .frase{
        height: 30vh;
    }

    #foto-inicio{
        width: 370px;
        height: 400px;
    }

    .dados{
        flex-direction: row;
    }

    .sobre-foto{
        width: 50%;
    }

    .sobre-descricao{
        width: 50%;
    }

    .sobre-imagem {
        width: 300px; 
        height: 300px;
      }
      


    .servicos-card{
        width: 40%;
    }

}

